.my-name {
	font-weight: bold;
	font-size: 2.5rem;
}
.large-line {
	margin-top: 0;
}
.current-title {
	font-size: 1.75rem;
	color: #979797;
}
.portrait {
	border-radius: 10px;
}
.portrait-text-parent {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.portrait-text-content {
	color: #404040;
}
.content-header {
	font-size: 1.25rem;
	font-weight: bold;
	padding-top: 1rem;
	color: black;
}
.collapse-icon {
	color: grey;
	font-size: 1rem;
	text-decoration: none;
}
.experience-block {
	height: 10rem;
	background-color: #eaeaea;
	border-radius: 10px;
	display: flex;
	align-content: flex-start;
	margin-top: 1rem;
}
.experience-img-block {
	align-self: center;
	background-color: #d2d2d2;
	border-radius: 15px;
	margin-left: 1rem;
	width: 7.5rem;
	height: 7.5rem;
	display: flex;
  	flex-flow: row nowrap;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
}
.experience-img-block > img {
	max-height: 80%;
	max-width: 80%;
}
.experience-text-block {
	margin-left: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 1rem;
	flex-grow: 1;
	padding-right: 1rem;

}
.experience-institution {
	font-size: 1.5rem;
}

.experience-title {
	font-size: 3rem;
	font-weight: bold;
}
.experience-position {
	font-size: 1.75rem;
}

.experience-date {
	font-size: 2rem;
	text-align: right;
	padding-right: 2%;
}
.experience-headline {
	display: flex;
	justify-content: center;
	flex-direction: column; 
}
.experience-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	flex:1;
}

.experience-location {
	font-size: 1.25rem;
	text-align: right;
	padding-right: 2%;
}
.experience-body {
	padding-left: 2rem;
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
.experience-body > ul > li {
	padding-bottom: 0.5rem;
}
