.container {
	margin-left: auto;
	margin-right: auto;
	width: 60rem;
	background-color: white;
	padding: 2rem;
	border-radius: 5px;
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}
.banner-name {
	font-weight: bold;
	font-size: 1.5rem;
	padding-right: 2rem;
}
.resume-link {
	font-weight: bold;
	font-size: 1.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
.blog-link {
	font-weight: bold;
	font-size: 1.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.text-titles {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
