.grouped-heading { 
	font-size: 1.25rem;
}

#fireworks {
	display:block;
	margin:auto;
	object-fit:cover;
	width: 500pt;
	height: 240pt;
}

#connectbtn {
	display:block;
	margin:auto;
	width:200pt;
	height:5rem;
	font-size:2rem;
}

#connection-sts {
	display:block;
	margin:auto;
	text-align: center;
	margin-top:1rem;
	color: red;
	padding-bottom: 1rem;
}
#ack-sts {
	display:block;
	margin:auto;
	text-align: center;
	color: red;
}


.modebtn {
	width:100pt;
	height:3rem;
	font-size:1.5rem;
	margin: 1rem 1rem 1rem 1rem;
}

#modebtns {
	display: block;
	margin:auto;
	width:45rem;
	display: flex;
	justify-content: center;
}

#modecontrol {
	display: block;
	margin:auto;
	width:45rem;
	display: flex;
	justify-content:center;
}
.mcontrol {
	display:none;
	align-items: center;
	flex-direction:column;
}
